/**********************

COMMONS STYLE

**********************/


// MIXINS

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin reset-a {
    color: inherit;
    text-decoration: none;
}

@mixin ctn_max-width($width: 100%) {
    width: $width;
    max-width: $width;
}

@mixin flex($f_direction: row, $f_justify: flex-start, $f_align: flex-start) {
    display: flex;
    flex-direction: $f_direction;
    justify-content: $f_justify;
    align-items: $f_align;
}

@mixin flex_start-or-end($justify: start) {

    @if $justify == start {
        flex-direction: row;     
    } @else { 
        flex-direction: row-reverse;    
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;

}


@mixin bg-image ($path, $position: top) {
    background-image: url($path);
    background-position: $position;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin bg-skill-section ($section) {
    @if $section == communication {
        @include bg-image('../../../assets/img/employee-feedback.jpg', center);
    } @else if $section == surveys {
        @include bg-image('../../../assets/img/employee-survey.jpg', center);
    } @else if $section == performance {
        @include bg-image('../../../assets/img/performance-review.jpg', center);
    } @else if $section == recognition {
        @include bg-image('../../../assets/img/employee-recognition.jpg', center);
    }
    
    width: 55%;
    height: 100%;
}


@mixin btn-blue {
    @include flex($f_align: center);
    color: #fff;
    background-color: $blue;
    border: 0;
    padding: 10px 23px;
    border-radius: 7px;

    &:hover {
        cursor: pointer;
        background-color: $dark-blue;
    }

    img {
        width: 17px;
        margin-right: 2px;
    }
}


// GENERAL RULES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include ctn_max-width();
    margin: 0 auto;
    background-color: $bg-color;
    color: $primary-color;
    font-family: $font-family;
}

h1,
h2,
h3 {
    font-weight: $font-semibold;
}

// UTILITY

.u_pRelative {
    position: relative;
}

.u_pAbsolute {
    position: absolute;
}

.btn-blue {
    @include btn-blue;        
}

/*******************

    ACTIONS

********************/

// nav

.navbar__list__link__dropdown-menu.show-dropdown {
    display: block;
}

// chat
.chat.active-chat {
    opacity: 1;
    height: 700px; 
}

.chat-scrolled {
    opacity: 0;
}
