.nav-ctn {
    @include flex(row, center);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 75px;
    background-color: #fff;
}

.nav {

    @include flex(row, space-between, center);
    @include ctn_max-width($container-width);
    width: 100%;
    background: #fff;
    height: 75px;
    border-bottom: 1px solid $primary-color;

    &__navbar {

        @include flex(row, center, center);
        font-weight: $font-semibold;
        font-size: 13px;
        
        .navbar__list {

            @include reset-list;
            @include flex;
            
            li:first-child i {
                font-size: 12px;
                margin-left: 5px;
            }

            a {
                
                @include reset-a;
                margin-right: 30px;
                padding: 5px;
                
                &:hover {
                    color: $blue;
                }    
            }
        }

        a.btn {

            @include flex(row, center, center);            
            color: #30488f;
            padding: 7px 9px;
            border: 1px solid #30488f;
            border-radius: 7px;

            &:hover {
                color: #fff;
                background-color: $blue;
                cursor: pointer;
            }
            

            .btn-logo {
                width: 17px;
                margin-right: 5px;
            }
        }
  
    }
    
}

.navbar__list__link__dropdown-menu {
    display: none; /* jQuery */

    @include reset-list;
    background-color: #fff;
    width: 90px;
    padding: 0 15px 10px 5px;
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px #00000036;


    li {
        cursor: pointer;
        padding-top: 10px;
        padding-left: 5px;

        &:hover {
            color: $blue;

        }  

    }
}
