/********************

    VARIABLES

********************/


// Colors
$bg-color: #fff;
$primary-color: #58402c;
$secondary-color: #ffe7d2;
$grey: #bdb5af;
$blue: #30488f;
$dark-blue: #24376d;

// Typography

$font-family: 'Open Sans', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-light: 300;

// Layout

$container-width: 1150px;

@mixin flex_start-or-end($justify: start) {

    @if $justify == start {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    } @else {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
    }
}