/********************

    VARIABLES

********************/


// Colors
$bg-color: #fff;
$primary-color: #58402c;
$secondary-color: #ffe7d2;
$grey: #bdb5af;
$blue: #30488f;

// Typography

$font-family: 'Open Sans', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-light: 300;

// Layout

$container-width: 1150px;

