/******************

    SETUP

******************/

// Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
// Partials
@import 'partials/variables';
@import 'partials/common';
@import 'partials/header.scss';
@import 'partials/navbar.scss';
@import 'partials/footer.scss';

// HOW WORK

.how-work {
    @include flex(column , center, center);
    background-color: $secondary-color;
    padding: 80px 0;

}

.how-work__ctn {
    @include ctn_max-width($container-width);
    @include flex(column, center, center);
    
    #problem {
        border-bottom: 1px solid $grey;
    }

    #solution {
        margin-top: 80px;
    }


    .how-work_section {
        @include flex(column , center, center);
        @include ctn_max-width($container-width);


        h2.how-work_section {
            font-size: 26px;
            text-align: center;
            width: 60%;
        }

        &__problems {
            @include flex(row, center, center);
            padding: 50px 0 0;
            width: 60%;

            .problems-ctn {

                @include flex(column, center, center);
                padding: 0 30px;
                text-align: center;

            }

            .problems_img {

                @include flex(row, center, center);
                width: 140px;
                height: 170px;

                img {
                    width: 100%;
                }

                img.safe-img {
                    width: 60px;
                }

            }
            
        }
       
        .how-work_section__illustration {
            width: 25%;
            margin: 130px 0;
        
            img {
                width: 100%;
            }
        
        }

    }

}


// SKILL 

.skill {
    @include flex(column, center, center);

    &-section.left {
        @include flex_start-or-end(start);
    }

    &-section {
        @include flex_start-or-end(end);
        @include ctn_max-width(90%);
        height: 600px;
        padding: 60px 0; 
        
        &__img {
            width: 55%;
            height: 100%;
            @include bg-image('../../../assets/img/employee-feedback.jpg', center);
        }

        &__txt {
            align-self: flex-start;
            width: 30%;
            
            h2 {
                font-size: 26px;
                margin-bottom: 15px;
            }
            
            p {
                font-size: 22px;
                margin-bottom: 40px;
            }

            a {
                @include reset-a;
                color: $blue;
                display: block;
                font-size: 22px;
            }

            img {
                width: 400px;
                padding: 50px 70px;
            }
        }
    }
}
